name: Docker build
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: [self-hosted]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Create Image
        run: sudo -u larry docker build -t webtest2:1.0 -f dockerfile .
      - name: Start
        run: sudo -u larry docker run -d -p 8000:8000 webtest2:1.0